/* Outside */

.outframe{
	width: 100%;
	background-size: cover;
	
}		

/* MidSide */

	.midframe{
		height: 100vh;
		margin-left: cover;
		margin-right: cover;
	}
/* Inside */

		.bannerFrame{
			z-index: 10;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: #fefef0;
			background-size: cover;
			opacity: 1;
		}
			.startButton{
				position: absolute; 
				left: 36%; 
				top: 50%; 
				width: 300px; 
				height: 100px;
				
				border-radius: 100px;
				
				color: #333;
				font-size: 56px;
				text-align: center;
				text-decoration: center;
				cursor: pointer;
			}
				.startButton:hover{
					color: #000000;
					font-size: 64px;
				}
			.bannerLogo{
				position: absolute;
				top: 2%;
				right: 1%;
				color:#333;
				font-size: 72px;
			}
			.bannerPic{
				position: absolute;
				left: 0.5%;
				top: 0%;
				width: 471px;
				height: 537px;
				background-size: cover;
				
			}
			.bannerPic2{
				position: absolute;
				right: 3%;
				top: 14%;
				width: 471px;
				height: 537px;
				background-size: cover;
				
			}

/*  Inner Left  */

		.inner-left-frame{
			z-index: 2;
			position: relative;
			top: 0;
			width: 50%;
			height: 100vh;
			float: left;	
		}

			.layer1-left{
				z-index: 3;
				position: relative;
				left:0px;
				width: 100%;
				height: 100vh;
				/*background-color:#333;*/
				background:url("1s.jpg");
				background-size: cover;
				opacity:0;
			}
			.layer2-left{
				z-index: 4;
				position: relative;
				top: -100vh;
				left:0px;
				width: 100%;
				height: 100vh;
				/*background-color:#333;*/
				background:url("r123.jpg");
				background-size: cover;
				opacity:0;
			}
			.layer3-left{
				z-index: 5;
				position: relative;
				width: 400px;
				height: 200px;
				left: 20px;
				top: -199vh;
				color: #e67300;
				font-size: 72px;
			}

				.layer3-div-list{
					display: none;
					margin-top: 15px;
					font-size: 24px;
					cursor: pointer;
					color: white;
					font-size: 30px;
					font-weight: bold;
					opacity: 0.6;
				}

/*  Inner Right  */

		.inner-right-frame{
			z-index: 2;
			position: relative;
			top:0;
			width: 50%;
			height: 100vh;
			float: left;
			
		}
			.layer1-right{
				z-index: 3;
				position: relative;
				left:0px;
				width: 100%;
				height: 100vh;
				/*background-color: #5c5cd6;*/ /*紫*/
				background-color: #ff3333; /* Red */
				opacity:0;
			}
			.layer2-right{
				z-index: 4;
				position: relative;
				top: -100vh;
				left:0px;
				width: 100%;
				height: 100vh;
				background-color:#e67300; /*橘*/
				opacity:0;
				
				
			}
				.layer2-list{
					display: fixed; 
					width:60%; 
					height:10%; 
					position: absolute; 
					/*top: 50%;   */ 
					left: 15%; 
					font-size: 250%; 
					color: #262626; 
					overflow: hidden;
					
					
				}
			.layer3-right{
				z-index: 5;
				position: relative;
				width: 500px;
				height: 100px;
				left: -140px;
				top: -170vh;
				color: white;
				font-size: 72px;
				
			}
				.StartButton{
					width: 100px; 
					height: 50px; 
					font-size: 20px; 
					border: 1px solid; 
					position: relative; 
					top:0px; 
					left: 0px; 
					cursor: pointer;
				}
