/* Outside */

.outframe{
	width: 100%;
	height: 100vh;
	background-size: cover;
	overflow: hidden;
}		

/* Mid Side */

	.mid-frame-background{
		z-index: 1;
		position: relative;
		top: 0;
		height: 100vh;
		width: 100%;
		background-size: cover;
		margin-left: cover;
		margin-right: cover;
	}
	.mid-frame-filter{
		z-index: 2;
		position: relative;
		top: -100vh;
		height: 100vh;
		width: 100%;
		margin-left: cover;
		margin-right: cover;
		background-color: black;
		opacity: 0.6;
	}
	.mid-frame-box{
		z-index: 3;
		position: relative;
		top: -200vh;
		height: 100vh;
		width: 100%;
		margin-left: cover;
		margin-right: cover;
		overflow: hidden;
	}
/* Inside */
		.inner-banner-frame{
			z-index: 4;
			height: 20vh;
			width: 100%;
			margin-left: cover;
			margin-right: cover;
			color: #404040;
			font-size: 72px;
			/*background-color: hsl(15, 0%, 95%);*/
			/*background-color: #333;*/
			opacity: 0.95;
			overflow: hidden;
		}
		.inner-frame-section{
			z-index: 4;
			height: 80vh;
			width: 500%;
			margin-left: cover;
			margin-right: cover;
			font-size: 28px;
				
		}
			.inner-frame-section-1{ /* Page 1 */
				z-index: 4;
				position: relative;
				height: 80vh;
				left: 0%;
				width: 20%;
				margin-left: cover;
				margin-right: cover;
				font-size: 28px;
				background: no-repeat fixed;
				
			}

				.section-outer-box{
					margin-left: 10px; 
					height: 204px; 
					width :406px;
				}
					.section-inner-box{
						position: relative;
						height: 200px;
						width: 200px;
						color: white;
						background-color: #333;
						opacity: 0.9;
						border: 1px solid white;
						cursor: pointer;
					}
				.section-answer-box{
					display: none;
					position: relative;
					top: -450px; 
					left: 40%; 
					height: 70vh; 
					width: 50%;
					background-color: #333;
					opacity: 0.8;
				}
					.section-answer-box-background{
					z-index: 7;
					position: relative;
					/*top: -450px; 
					left: 40%; */
					height: 70vh; 
					width: 100%;
					background-color: #333;
					opacity: 0.3;
				}
				.section-answer-box-text{
					z-index: 8;
					position: relative;
					top: -70vh; 
					/*left: 40%;*/ 
					height: 70vh; 
					width: 95%;
					color: white;
					opacity: 1
				}
				.section-answer-box-link{

					width: 120px;
					height: 30px;
					border:1px solid;
					font-size: 18px;
					color: yellow;
					text-align: center;
					line-height: 30px;
					margin-left: auto;
					cursor: pointer;
				}

			.inner-frame-section-2{ /* Page 2 */
				z-index: 4;
				position: relative;
				top: -80vh;
				left: 20%;
				height: 80vh;
				width: 20%;
				margin-left: cover;
				margin-right: cover;
				font-size: 28px;
				background-size: cover;				
			}
			.inner-frame-section-3{ /* Page 3 */
				z-index: 4;
				position: relative;
				top: -160vh;
				left: 40%;
				height: 80vh;
				width: 20%;
				margin-left: cover;
				margin-right: cover;
				font-size: 28px;
				background: no-repeat fixed;
				background-size: cover;	
				
			}
			.inner-frame-section-4{ /* Page 4 */
				z-index: 4;
				position: relative;
				top: -240vh;
				left: 60%;
				height: 80vh;
				width: 20%;
				margin-left: cover;
				margin-right: cover;
				font-size: 28px;
				background: no-repeat fixed;
				background-size: cover;	
			}
			.inner-frame-section-5{ /* Page 5 */
				z-index: 4;
				position: relative;
				top: -320vh;
				left: 80%;
				height: 80vh;
				width: 20%;
				margin-left: cover;
				margin-right: cover;
				font-size: 28px;
				background: no-repeat fixed;
				background-size: cover;
				
			}

/* block- Animation */
				.block-white{
					height: 80vh; 
					width: 100%; 
					background-color:#ffffff; 
					opacity: 0.8;
				}
					.block-white-logo{
						width: 200px; 
						height: 50px; 
						border: 2px solid; 
						color: #333; 
						position: relative; 
						top: 50%; 
						left: 40%;
						text-align: center;
						line-height: 50px;
					}
				.block-black{
					height: 80vh; 
					width: 100%; 
					background-color:#333; 
					opacity: 0.99;
				}
					.block-black-logo{
						width: 200px; 
						height: 50px; 
						border: 1px solid; 
						color: white; 
						position: relative; 
						top: 50%; 
						left: 40%;
						text-align: center;
						line-height: 50px;
					}


		/* LOGO */
		.silde-logo-banner{
			z-index: 5;
			position: relative;
			top: -80vh;
			left: 0%;
			
			height: 80vh;
			width: 8vw;
			
			font-size: 72px;
			color: white;
			/*background-color: hsl(15, 0%, 95%);*/
			/*background-color: #333;*/
			opacity: 0.95;
			overflow: hidden;
		}
		.Web-Logo{

		}
		.slect-button-frame{
			z-index: 7;
			position: relative;
			top: -26px;
			left: 50%;
			/*height: 360px;*/
			width: 50%;			
			margin-left: cover;
			margin-right: cover;
			font-size: 20px;
			opacity: 1;
		}
			.slect-button-frame-List{
				position: relative; 
				height: 60px; 
				width: 120px; 
				color: #b3b3b3;
				text-align: center;
				/*background-color: white;*/
				cursor: pointer;
			}




