body,
html {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --main-color: #006edc;
  --btn: #dc6e00;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

/* header */

header {
  position: absolute;
  /* border: 1px solid black; */
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0);
}

.Logo {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  font-family: var(--font-roboto);
}

header > nav > ul > li {
  list-style-type: none;
  font-size: 24px;
  color: #fff;
  font-family: var(--font-roboto);
}

.pageintro {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: var(--main-color);
}

.pageintro > article {
  position: absolute;
  top: 40%;
  right: 20%;
  width: 600px;
}

.pageintro > article > h3 {
  font-size: 72px;
  color: #fff;
  margin: 0;
  font-family: var(--font-roboto);
  margin: 10px 0;
}

.pageintro > article > p {
  font-size: 24px;
  color: #fff;
  margin: 10px 0;
  font-family: var(--font-roboto);
}

.page-btn {
  margin: 20px 0;
  width: 400px;
  height: 65px;
  font-weight: bold;
  background-color: var(--btn);
  font-family: var(--font-roboto);
  border: 0;
  font-size: 28px;
}

@media screen and (max-width: 1440px) {
  .pageintro > article {
    position: absolute;
    top: 40%;
    right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .pageintro > article {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .pageintro > article {
    left: 50%;
    width: 80vw;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  header {
    width: 91.4vw;
  }

  .pageintro > article {
    top: 36%;
    left: 50%;
    width: 91.4vw;
  }

  .pageintro > article > h3 {
    font-size: 13.8vw;
  }

  .pageintro > article > p {
    font-size: 4.8vw;
    width: 91.4vw;
  }

  .page-btn {
    font-size: 24px;
    width: 91.4vw;
  }
}

/* Company */

.companies {
  padding: 20px 0;
  width: 100vw;
  max-width: 100%;
}

.companies > h3 {
  font-size: 18px;
  text-align: center;
}

.companies > h3 > span {
  color: rgb(32, 96, 64);
}

.logos {
  margin: 0;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 426px) {
  .companies > h3 {
    font-size: 4.2vw;
  }
  .logos {
    width: 91.4vw;
    font-size: 3.7vw;
  }
}

/* Description */

.description {
  padding: 40px 0 0px;
  width: 100vw;
  max-width: 100%;
}

.description > h3 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.description > p {
  width: 60%;
  font-size: 24px;
  margin: 20px auto;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.items {
  margin: 40px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  width: 20%;
  margin: 0 30px;
}

.item > img {
  width: 100%;
}

.item > h4 {
  text-align: center;
  font-size: 28px;
  margin: 14px 0;
  color: var(--main-color);
  font-family: var(--font-roboto);
}

.item > p {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: var(--font-roboto);
  /* text-align: center; */
}

@media screen and (max-width: 1024px) {
  .description > p {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .description > p {
    width: 80%;
  }

  .items {
    justify-content: space-around;
    width: 91.4vw;
    margin: 40px auto 0;
  }

  .item {
    width: 30%;
    margin: 0;
  }

  .item > p {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .description > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  .description > p {
    width: 91.4vw;
    font-size: 5vw;
    margin: 5.3vw auto 10.6vw;
  }

  .items {
    margin: 5.2vw auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    width: 91.4vw;
    margin: 0 auto 8vw;
  }

  .item > h4 {
    text-align: center;
    font-size: 7vw;
    margin: 3vw 0;
  }
  .item > p {
    width: 100%;
    margin: 0 auto;
    font-size: 4.8vw;
  }
}

/* Period */

.period {
  padding: 40px 0 0;
  width: 100vw;
  max-width: 100%;
}

.period > h3 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.section {
  width: 60%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
}

.row {
  /* border: 1px solid black; */
  width: 50%;
  font-size: 22px;
  font-family: var(--font-roboto);
  padding: 0 20px;
}

.line {
  width: 4px;
  height: inherit;
  background-color: var(--main-color);
}

.row:first-child {
  width: 40%;
}

.row > .date {
  text-align: right;
}

.row > .description {
  padding: 0;
}

@media (min-width: 320px) and (max-width: 426px) {
  .section {
    width: 91.4vw;
    margin: 0 auto;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .line {
    width: 4px;
    height: inherit;
    background-color: var(--main-color);
  }

  .row:first-child {
    /* border-right: 4px solid var(--main-color); */
    width: 50%;
  }
}

/* Mode */

.mode {
  padding: 40px 0 0px;
  width: 100vw;
  max-width: 100%;
}

.mode > h3 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

@media (min-width: 320px) and (max-width: 426px) {
  .mode > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }
}

/* Rule */

.rule {
  padding: 40px 0 0;
  width: 100vw;
  max-width: 100%;
}

.rule > h3 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.rule-section {
  width: 100%;
  margin: 90px auto 0;
}

.rule-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 60px;
  width: 100%;
}

.rule-row {
  width: 42%;
  font-size: 22px;
  font-family: var(--font-roboto);
  display: flex;
  justify-content: center;
}

.rule-line {
  width: 4px;
  height: 120px;
  background-color: var(--main-color);
  position: relative;
  top: -70px;
}

.rule-line::after {
  content: '';
  padding: 1px 10px;
  border-radius: 999px;
  background-color: var(--main-color);
  position: relative;
  top: 120px;
  left: -8px;
}

.rule-row:first-child {
  width: 20%;
}

.rule-row > .method {
  padding: 0;
  width: 100%;
  margin-left: 130px;
}

@media screen and (max-width: 1024px) {
  .rule-row > .method {
    padding: 0;
    width: 100%;
    margin-left: 90px;
  }
}

@media screen and (max-width: 768px) {
  .rule-row > .method {
    padding: 0;
    width: 100%;
    margin-left: 70px;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .rule > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  .rule-container {
    width: 91.4vw;
    margin: 0 auto 13.3vw;
  }
  .rule-row {
    width: 100%;
    font-size: 4.8vw;
    font-family: var(--font-roboto);
    display: flex;
    justify-content: center;
  }

  .rule-row:first-child {
    width: 100%;
  }

  .rule-row > .method {
    padding: 0;
    width: 100%;
    margin-left: 13.3vw;
  }
}

/* Time */
.time {
  padding: 40px 0 0;
  width: 100vw;
  max-width: 100%;
}

.time > h3 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.time > p {
  font-size: 20px;
  text-align: center;
  font-family: var(--font-roboto);
}

@media (min-width: 320px) and (max-width: 426px) {
  .rule > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }
}

/* Experience */

.experience {
  padding: 40px 0 40px;
  width: 100vw;
  max-width: 100%;
}

.experience > h3 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.exp-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 30%;
}

.card > img {
  border: 10px solid rgb(167, 167, 167);
  margin: 30px 20px;
}

.content {
  width: 70%;
  margin: 0 20px;
  font-family: var(--font-roboto);
}

.content > h4 {
  font-size: 20px;
  font-weight: 300;
}

.content > h4 > span {
  font-size: 20px;
  font-weight: 300;
  color: var(--main-color);
}

@media screen and (max-width: 1440px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .card > img {
    border: 8px solid rgb(167, 167, 167);
    width: 6.5vw;
  }

  .content > h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .experience {
    padding: 2.6vw 0;
  }
  .card > img {
    margin: 3.9vw 2vw;
    width: 7.8vw;
  }
  .content {
    width: 70%;
  }
  .content > h4 {
    font-size: 12px;
  }
  .content > h4 > span {
    font-size: 12px;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .experience {
    padding: 40px 0 40px;
  }

  .experience > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  .exp-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }

  .card {
    margin: 0 auto;
    width: 91.4vw;
  }

  .card > img {
    border: 8px solid rgb(167, 167, 167);
    margin: 8vw 2.6vw;
    width: 18vw;
  }

  .content {
    margin: 0 5.2vw;
  }

  .content > h4 {
    font-size: 4vw;
  }

  .content > h4 > span {
    font-size: 4vw;
  }
}

/* Footer */

.footer {
  padding: 40px 0;
  width: 100vw;
  height: 15.2vw;
  max-width: 100%;
  background-color: var(--main-color);
  font-family: var(--font-roboto);
}

.footer > h1 {
  color: #fff;
  font-size: 3.4vw;
  width: 40vw;
  text-align: center;
  margin: 0 auto;
}

.footer > button {
  margin: 20px auto;
  width: 27.7vw;
  height: 4.4vw;
  background-color: var(--btn);
  border: 0;
  font-size: 1.9vw;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright > h5 {
  font-size: 26px;
  color: rgb(29, 29, 29);
  margin: 0;
}

.copyright > h5 > span {
  color: rgb(29, 29, 29);
}

.copyright > p {
  font-size: 26px;
  color: var(--main-color);
  margin: 0;
  font-family: var(--font-roboto);
}

@media (min-width: 375px) and (max-width: 414px) {
  .footer {
    padding: 10.6vw 0 18.6vw;
    height: 50.2vw;
  }

  .footer > h1 {
    font-size: 9vw;
    width: 91.4vw;
  }

  .footer > button {
    height: 14vw;
    margin: 5.3vw auto;
    width: 91.4vw;
    font-size: 6.4vw;
  }
  .copyright {
    padding: 2.7vw 0;
    display: flex;
    flex-direction: column;
  }

  .copyright > h5 {
    font-size: 4.8vw;
    margin: 0;
  }

  .copyright > p {
    font-size: 7vw;
    margin: 5.3vw 0;
  }
}
