body,
html {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --main-color: #0074bf;
  --btn: #fff;
  --font-content-color: #434343;
  --font-roboto: 'Roboto', sans-serif;
  --font-title: 32px;
  --font-h4: 24px;
  --font-content: 16px;
  --font-medium: 14px;
}

/* header */

header {
  position: absolute;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0);
  color: var(--font-content-color);
}

.Logo {
  width: 100px;
}

.pageintro {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: var(--main-color);
  background-image: url(./images/fabal-page-intro.png);
  background-size: cover;
}

.pageintro > article {
  position: absolute;
  top: 40%;
  right: 20%;
  width: 600px;
}

.pageintro > article > h3 {
  font-size: 68px;
  color: #fff;
  margin: 0;
  font-family: var(--font-roboto);
  margin: 10px 0;
}

.pageintro > article > p {
  font-size: var(--font-content);
  color: #fff;
  margin: 10px 0;
  font-family: var(--font-roboto);
}

.page-btn {
  margin: 20px 0;
  width: 400px;
  height: 65px;
  font-weight: bold;
  background-color: var(--btn);
  font-family: var(--font-roboto);
  color: var(--font-content-color);
  border: 0;
  font-size: 28px;
  border-radius: 8px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.page-btn:hover {
  background-color: aliceblue;
  transition-duration: 0.3s;
}

@media screen and (max-width: 1440px) {
  .pageintro > article {
    position: absolute;
    top: 40%;
    right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .pageintro > article {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .pageintro {
    height: 88vh;
  }

  .pageintro > article {
    left: 50%;
    width: 80vw;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  header {
    width: 91.4vw;
  }

  .Logo {
    width: 100px;
    margin: 0 auto;
  }

  .pageintro > article {
    top: 36%;
    left: 50%;
    width: 91.4vw;
  }

  .pageintro > article > h3 {
    font-size: 13.8vw;
  }

  .pageintro > article > p {
    font-size: 4.8vw;
    width: 91.4vw;
  }

  .page-btn {
    font-size: 24px;
    width: 91.4vw;
  }
}

/* Description */

.description {
  padding: 70px 0;
  width: 100vw;
  max-width: 100%;
  background-image: url(./images/enable-background.png);
  background-size: cover;
  color: var(--font-content-color);
}

.description > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.description > p {
  width: 60%;
  font-size: var(--font-content);
  margin: 20px auto;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.items {
  margin: 40px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  width: 20%;
  margin: 0 30px;
}

.item > img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.item > h4 {
  text-align: center;
  font-size: var(--font-h4);
  margin: 14px 0;
  color: var(--main-color);
}

.item > p {
  width: 100%;
  margin: 0 auto;
  font-size: var(--font-medium);
  font-family: var(--font-roboto);
  color: var(--font-content-color);
  /* text-align: center; */
}

@media screen and (max-width: 1024px) {
  .description > p {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .description > p {
    width: 80%;
  }

  .items {
    justify-content: space-around;
    width: 91.4vw;
    margin: 40px auto 0;
  }

  .item {
    width: 30%;
    margin: 0;
  }

  .item > p {
    font-size: 2.6vw;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .description > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  .description > p {
    width: 91.4vw;
    font-size: 5vw;
    margin: 5.3vw auto 10.6vw;
  }

  .items {
    margin: 5.2vw auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    width: 91.4vw;
    margin: 0 auto 8vw;
  }

  .item > h4 {
    text-align: center;
    font-size: 7vw;
    margin: 3vw 0;
  }
  .item > p {
    width: 100%;
    margin: 0 auto;
    font-size: 4.8vw;
  }
}

/* Period */

.period {
  padding: 70px 0 120px;
  width: 100vw;
  max-width: 100%;
  color: var(--font-content-color);
}

.period > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.section {
  width: 60%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
}

.row {
  /* border: 1px solid black; */
  width: 50%;
  font-size: var(--font-content);
  font-family: var(--font-roboto);
  padding: 0 20px;
  margin: 0 0 0 40px;
}

.line {
  width: 4px;
  height: inherit;
  background-color: var(--main-color);
}

.row:first-child {
  width: 35%;
  margin: 0 40px 0 0;
}

.row > .date {
  text-align: right;
}

.row > .description {
  padding: 0;
}

@media (min-width: 320px) and (max-width: 426px) {
  .section {
    width: 91.4vw;
    margin: 0 auto;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .line {
    width: 4px;
    height: inherit;
    background-color: var(--main-color);
  }

  .row:first-child {
    /* border-right: 4px solid var(--main-color); */
    width: 50%;
  }
}

/* Mode */

.mode {
  padding: 70px 0;
  width: 100vw;
  max-width: 100%;
  background-image: url(./images/mode-background.png);
  background-size: cover;
  color: var(--font-content-color);
  /* background-repeat: no-repeat; */
}

.mode > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.mode > .items > .item > .mode-img {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
  .mode > .items > .item > .mode-img {
    width: 25vw;
    height: 13.7vh;
  }
}

@media screen and (max-width: 768px) {
  .mode > .items > .item > .mode-img {
    width: 27.3vw;
    height: 13.7vh;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .mode > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
    color: #fff;
  }

  .row {
    margin: 0;
  }

  .row:first-child {
    margin: 0;
  }

  .mode > .items > .item > .mode-img {
    width: 91.3vw;
    height: 61.3vw;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .mode-title {
    color: #fff;
  }
}

/* Rule */

.rule {
  padding: 70px 0;
  width: 100vw;
  max-width: 100%;
  color: var(--font-content-color);
}

.rule > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.rule-section {
  width: 100%;
  margin: 90px auto 0;
}

.rule-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 60px;
  width: 100%;
}

.rule-row {
  width: 42%;
  font-size: var(--font-medium);
  font-family: var(--font-roboto);
  display: flex;
  justify-content: center;
}

.rule-row > img {
  width: 50px;
  height: 50px;
}

.rule-container:nth-child(1) > .rule-row > img {
  width: 25px;
  height: 32.5px;
}

.rule-container:nth-child(2) > .rule-row > img {
  width: 25px;
  height: 26.5px;
}

.rule-container:nth-child(3) > .rule-row > img {
  width: 35px;
  height: 35px;
}

.rule-container:nth-child(4) > .rule-row > img {
  width: 22.5px;
  height: 36.5px;
}

.rule-line {
  width: 4px;
  height: 120px;
  background-color: var(--main-color);
  position: relative;
  top: -70px;
}

.rule-line::after {
  content: '';
  padding: 1px 10px;
  border-radius: 999px;
  background-color: var(--main-color);
  position: relative;
  top: 120px;
  left: -8px;
}

.rule-row:first-child {
  width: 20%;
}

.rule-row > .method {
  padding: 0;
  width: 100%;
  margin-left: 130px;
}

@media screen and (max-width: 1024px) {
  .rule-row > .method {
    padding: 0;
    width: 100%;
    margin-left: 90px;
  }
}

@media screen and (max-width: 768px) {
  .rule-row > .method {
    padding: 0;
    width: 100%;
    margin-left: 70px;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .rule > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  .rule-container {
    width: 91.4vw;
    margin: 0 auto 13.3vw;
  }
  .rule-row {
    width: 100%;
    font-size: 4.8vw;
    font-family: var(--font-roboto);
    display: flex;
    justify-content: center;
  }

  .rule-row:first-child {
    width: 100%;
  }

  .rule-row > .method {
    padding: 0;
    width: 100%;
    margin-left: 13.3vw;
  }
}

/* Student-rule */
.student-rule {
  padding: 70px 0;
  width: 100vw;
  max-width: 100%;
  background-image: url(./images/student-rule-bakcground.png);
  background-size: cover;
}

.student-rule > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: #fff;
}

.student-rule > p {
  font-size: var(--font-content);
  margin: 20px auto;
  text-align: center;
  font-weight: 400;
  font-family: var(--font-roboto);
  color: #fff;
}

@media (min-width: 320px) and (max-width: 426px) {
  .student-rule > p {
    width: 91.4vw;
    font-size: var(--font-medium);
    margin: 20px auto;
    text-align: center;
    font-weight: 400;
    font-family: var(--font-roboto);
    color: #fff;
  }
}

/* Time */
.time {
  padding: 70px 0;
  width: 100vw;
  max-width: 100%;
  background-image: url(./images/time-background.png);
  background-size: cover;
  color: var(--font-content-color);
}

.time > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.time-title {
  font-size: var(--font-content);
  text-align: center;
  font-family: var(--font-roboto);
  font-weight: bold;
}

.time-session {
  font-size: var(--font-content);
  text-align: center;
  font-family: var(--font-roboto);
  font-weight: bold;
  margin: 16px 0 4px;
}

.time-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.time-container > p {
  font-size: var(--font-content);
  text-align: center;
  font-family: var(--font-roboto);
}

.time > p {
  font-size: var(--font-content);
  text-align: center;
  font-family: var(--font-roboto);
}

@media (min-width: 320px) and (max-width: 426px) {
  .rule > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  /* .time-container {
    flex-direction: column;
  }

  .time-container > p:nth-child(even) {
    display: none;
  } */

  .time-container {
    width: 91.4vw;
  }

  .time-container > p {
    margin: 1.6vw 0;
  }
}

/* Experience */

.experience {
  padding: 70px 0;
  width: 100vw;
  max-width: 100%;
}

.experience > h3 {
  font-size: var(--font-title);
  text-align: center;
  margin: 30px 0;
  font-family: var(--font-roboto);
  color: var(--main-color);
}

.exp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

/*
.exp-container > .card:nth-child(1) > .content >  .icon-group{
  display: none;
}

.exp-container > .card:nth-child(2) > .content >  .icon-group{
  display: none;
}

.exp-container > .card:nth-child(3) > .content >  .icon-group{
  display: none;
}
*/

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  position: relative;
}

.card > img {
  border: 10px solid rgb(167, 167, 167);
  margin: 30px 20px;
  z-index: 0;
  width: 150px;
  height: 150px;
  background-color: rgb(228, 228, 228);
}

.content {
  width: 70%;
  margin: 0 20px;
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 210px;
}

.content > h4 {
  font-size: var(--font-content);
  font-weight: 700;
  color: var(--main-color);
  font-size: 14px;
  margin: 0;
}

.content > h4:nth-child(1) {
  margin: 0 0 2px;
}

.content > p {
  font-size: var(--font-content);
  font-weight: 400;
  color: var(--font-content-color);
  font-size: 12px;
}

.icon-group {
  display: flex;
  flex-direction: row;
}

.icon-group > a > img {
  width: 25px;
  margin: 0 7px 0 0;
}

@media screen and (max-width: 1440px) {
  /* .card {
    width: 40%;
  } */

  .card > img {
    width: 120px;
    height: 120px;
  }

  .content > h4 {
    font-size: 1.2vw;
  }
  
  .content > p {
    font-size: 1vw;
  }

  .exp-container {
    width: 80%;
  }

  
}

@media screen and (max-width: 1024px) {
  .card > img {
    border: 4px solid rgb(167, 167, 167);
    width: 8vw;
    height: 8vw;
  }

  .content {
    height: 130px;
  }

  .content > h4 {
    font-size: 14px;
  }

  .content > p {
    font-size: 12px;
  }

  .exp-container {
    width: 90%;
  }

  .icon-group > a > img {
    width: 20px;
    margin: 0 7px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .experience {
    padding: 2.6vw 0;
  }
  .card > img {
    margin: 3.9vw 2vw;
    width: 7.8vw;
  }
  .content {
    width: 70%;
  }
  .content > h4 {
    font-size: 12px;
  }
  .content > h4 > span {
    font-size: 12px;
  }

  .icon-group > a > img {
    width: 1.8vw;
    margin: 0 7px 0 0;
  }
}

@media (min-width: 375px) and (max-width: 426px) {
  .experience {
    padding: 40px 0 40px;
  }

  .experience > h3 {
    font-size: 9.2vw;
    width: 91.4vw;
    margin: 8vw auto;
  }

  .exp-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }

  .card {
    margin: 1vw auto;
    width: 91.4vw;
  }

  .card > img {
    border: 6px solid rgb(167, 167, 167);
    margin: 4.8vw 2.6vw;
    width: 25vw;
    height: 25vw;
  }

  .content {
    margin: 0 2.6vw;
  }

  .icon-group > a > img {
    width: 5vw;
    margin: 0 7px 0 0;
  }
}

/* Company */

.enable-yourself {
  padding: 70px 0;
  width: 100vw;
  height: 15vw;
  max-width: 100%;
  font-family: var(--font-roboto);
  background-image: url(./images/footer.png);
  background-size: cover;
  position: relative;
  z-index: 0;
  color: var(--font-content-color);
}

.enable-yourself > div {
  color: #fff;
  width: 60vw;
  margin: 1vw auto;
}

.enable-yourself > div > h1 {
  color: #fff;
  width: 60vw;
  font-size: 2.8vw;
  text-align: center;
  margin: 10px auto 0;
}

.enable-yourself > div > h1:nth-child(1) {
  position: relative;
  left: -140px;
}

.enable-yourself > div > h1:nth-child(2) {
  position: relative;
  left: 80px;
}

.enable-yourself > img {
  position: absolute;
  width: 18vw;
  top: 18px;
  z-index: -1;
}

.enable-yourself > button {
  margin: 2.4vw auto;
  width: 17vw;
  height: 3.4vw;
  background-color: var(--btn);
  border: 0;
  border-radius: 8px;
  font-size: 1.6vw;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
  color: var(--font-content-color);
}

/* Company */

.contact-us-company {
  background-image: url(./images/enable-background.png);
  background-size: cover;
  padding: 40px 0;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.company-group {
  width: 20vw;
  list-style-type: none;
  padding-inline-start: 0px;
}

.company-group > li {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-group > li:nth-child(2) {
  height: 2vw;
}

.company-group > li > h5 {
  font-size: var(--font-content);
  color: rgb(29, 29, 29);
  text-align: center;
  font-weight: 400;
}

.company-group:nth-child(1) > li > img {
  width: 6vw;
}
.company-group:nth-child(2) > li > img {
  width: 13.5vw;
}

@media screen and (max-width: 1440px) {
  .enable-yourself {
    height: 22vw;
  }

  .enable-yourself > div > h1 {
    font-size: 4.2vw;
  }

  .enable-yourself > img {
    width: 25.8vw;
  }

  .enable-yourself > button {
    width: 25vw;
    height: 4.5vw;
    margin: 3.4vw auto;
  }

  .company-group:nth-child(1) > li > img {
    width: 6vw;
  }
  .company-group:nth-child(2) > li > imgg {
    width: 13vw;
  }
}

@media screen and (max-width: 1024px) {
  .enable-yourself {
    height: 28vw;
  }

  .enable-yourself > div > h1 {
    font-size: 5vw;
  }

  .enable-yourself > img {
    width: 33vw;
  }
  .enable-yourself > button {
    width: 30vw;
    height: 6.4vw;
    font-size: 2.4vw;
  }

  .company-group:nth-child(1) > li > img {
    width: 7vw;
  }
  .company-group:nth-child(2) > li > img {
    width: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .enable-yourself > div > h1 {
    font-size: 4.6vw;
  }

  .enable-yourself {
    height: 28vw;
  }

  .enable-yourself > img {
    width: 36.6vw;
  }

  .enable-yourself > button {
    width: 28vw;
    height: 7.4vw;
    margin: 5.8vw auto;
    font-size: 3vw;
  }

  .enable-yourself > div > h1:nth-child(1) {
    position: relative;
    left: -12vw;
  }

  .enable-yourself > div > h1:nth-child(2) {
    position: relative;
    left: 5vw;
  }

  .company-group {
    width: 40vw;
  }

  .company-group > li {
    height: 7vw;
  }

  .company-group > li:nth-child(2) {
    height: 5vw;
  }

  .company-group:nth-child(1) > li > img {
    width: 10vw;
  }
  .company-group:nth-child(2) > li > img {
    width: 22.5vw;
  }
}

@media (min-width: 375px) and (max-width: 426px) {
  .enable-yourself {
    padding: 10.6vw 0 18.6vw;
    height: 50.2vw;
  }

  .enable-yourself > div > h1 {
    color: #fff;
    width: 91.4vw;
    font-size: 36px;
    text-align: center;
    margin: 4vw 0 0;
  }

  .enable-yourself > div > h1:nth-child(1) {
    position: relative;
    left: -100px;
  }

  .enable-yourself > div > h1:nth-child(2) {
    position: relative;
    left: -50px;
  }

  .enable-yourself > img {
    position: absolute;
    width: 61.3vw;
  }

  .enable-yourself > button {
    height: 14vw;
    margin: 11vw auto;
    width: 91.4vw;
    font-size: 6.4vw;
  }
  .company {
    padding: 5vw 0;
    display: flex;
    /* flex-direction: column; */
  }

  .company > h5 {
    font-size: 4.8vw;
    margin: 0;
  }

  .company > p {
    font-size: 7vw;
    margin: 5.3vw 0;
  }

  .company-group {
    width: 40vw;
  }

  .company-group > li {
    height: 10vw;
  }

  .company-group > li:nth-child(2) {
    height: 6vw;
  }

  .company-group:nth-child(1) > li > img {
    width: 15vw;
  }
  .company-group:nth-child(2) > li > img {
    width: 33vw;
  }
}

/* Contact US */

.contact-us {
  padding: 40px 0;
  width: 100vw;
  max-width: 100%;
  color: var(--font-content-color);
}

.contact-us > h3 {
  font-size: 14px;
  margin: 10px 0;
  font-family: var(--font-roboto);
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
}

.contact-us  > p {
  font-size: 12px;
  margin: 12px 0;
  font-family: var(--font-roboto);
  font-weight: bold;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 426px) {
  .contact-us {
    flex-direction: column;
    padding: 5vw 0;
  }

  /* .contact-us > div {
    width: 56vw;
  } */
}

/* Footer */

footer {
  padding: 40px 0;
  background-image: url(./images/footer-background.png);
  background-size: cover;
}

footer > p {
  position: relative;
  left: 20vw;
  font-size: var(--font-medium);
  margin: 8px 0;
  font-family: var(--font-roboto);
  color: #fff;
  width: 200px;
}

@media (min-width: 375px) and (max-width: 426px) {
  footer > p {
    margin: 0 auto;
    left: 0;
  }
}
